body{
    font-family:Arial;
    padding:30px;
    background:#bf8787;
    max-width:700px;
    margin:auto;
}

input{
    display:block;
    margin:10px 0px;
    padding:10px;
    width:300px;
    border-radius:10px;
    border-width:1px;
    border-color:rgb(225, 94, 94);
}

button{
    padding:10px 20px;
    cursor:pointer;
    border-radius:10px;
    border-color:rgb(225, 94, 94);
    color:rgb(157, 20, 20);
}

.message{
    background:rgb(217, 164, 164);
    padding:10px;
    margin-top:10px;
    border-radius:10px;
    overflow-wrap: break-word;
}

#messageBox{
    background:rgb(185, 97, 97);
    border-radius:10px;
    margin-top:15px;
    padding:10px;
}

#messageArea{
    padding-right:5px;
    overflow-y:auto;
    max-height:400px;
}

#loginMenu{
    background:rgb(185, 97, 97);
    border-radius:10px;
    padding:10px;
}

#userInfoBox{
    background:rgb(217, 164, 164);
    border-radius:5px;
    padding:5px;
    margin-top:5px;
    text-align:center;
}

#userInfo{
    margin:0px;
    color:rgb(157, 20, 20);
}

#messageTopBar{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

#topBar{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

#counter{
    opacity:50%;
}

#messageInput{
    background:rgb(185, 97, 97);
    border-radius:10px;
    margin-top:10px;
    padding:10px;
}